:root {
  --background-color: rgb(229, 231, 235);
  --text-color: black;
  --body-font: "Roboto Mono", monospace;
  --title-font: "Roboto", sans-serif;
  --main-dark-blue: #060522; /* Fondo principal */
  --neon-blue: #14b8a6; /* Color de enlaces */
  --boton-bg: #064e3b; /* Color de encabezados */
  --dark-turquoise: #007373; /* Pie de página */
  --midnight-blue: #001f3f; /* Otro tono de azul */
  --electric-blue: #1e90ff; /* Botones y elementos interactivos */
  --teal-green: #00b3b3; /* Color hover de botones */
  --text-white: #ffffff; /* Texto blanco */
  --p-color: #cacaca;
  --padding-section: 1rem;
  --margin-section: 4rem auto;
  --width-section: 70%;
  --border-radius: 5px;
}
/* GENERAL ------------------- */
* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ELEMENTS --------------- */
body {
  background-color: var(--main-dark-blue);
  color: var(--text-white);
  font-family: var(--body-font);
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--title-font);
}
input:focus {
  border-bottom: 1px solid var(--neon-blue);
}
input {
  font-family: var(--body-font);
  padding: 0.3rem;
  background-color: var(--main-dark-blue);
  border: none;
  outline: none;
  color: white;
}

textarea:focus {
  border-bottom: 1px solid var(--neon-blue);
}

textarea {
  font-family: var(--body-font);
  padding: 0.2rem;
  background-color: var(--main-dark-blue);
  border: none;
  outline: none;
  color: white;
  height: 5rem;
}
li {
  list-style-type: square;
}
a {
  position: relative;
  text-decoration: none;
  color: inherit;
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
}
a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: var(--neon-blue);
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.1s ease-in-out;
}
a:hover::after {
  transform: translateX(-50%) scaleX(1);
}
p {
  color: var(--p-color);
  padding: 0.5rem 0.5rem 0.5rem 0;
  line-height: 1.5;
}
.header-info p {
  padding-left: 0.5rem;
}

.dot {
  color: var(--neon-blue);
}
.dark-theme-button:hover {
  cursor: pointer;
  transform: scale(130%);
}
.dark-theme-button {
  background-color: inherit;
  border: none;
}
.button:hover {
  background-color: var(--neon-blue);
  cursor: pointer;

  transition: 0.3s ease;
}
.button {
  display: flex;
  align-items: center;
  gap: 0.5rems;
  padding: 0.5rem;
  width: fit-content;
  height: fit-content;
  color: var(--text-white);
  border: 1px solid var(--neon-blue);
  border-radius: var(--border-radius);
  font-size: 12px;
  font-weight: 600;
  background-color: var(--midnight-blue);
  text-transform: uppercase;
}
.side-border {
  border-left: 4px solid var(--neon-blue);
}
.icon {
  height: 15px;
}
.section-title {
  font-size: 50px;
  margin-bottom: 2rem;
}
.info-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* NAVBAR------------------------ */

.navbar-container {
  display: flex;
  padding: 1rem;
  gap: 1.5rem;
}
.navlist-container {
  display: flex;
  gap: 1.5rem;
}

/* HEADER ---------------- */
#particles-js {
  display: flex;
  position: absolute;
}
/* header::before {
  content: "";
  position: absolute;
  background-image: url(assets/particles.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80%;
  width: 100%;
  opacity: .2;
  z-index: -1;
} */
.header-container {
  position: relative;
  display: grid;
  height: 70vh;
  grid-template-columns: repeat(2, 1fr);

  padding: var(--padding-section);
  width: 60%;
  margin: var(--margin-section);
  margin-bottom: 8rem;
}

.hero-img::before {
  content: "";
  background-image: url(/assets/laptop-2.png);
  position: absolute;
  width: 5rem;
  height: 4rem;
  left: 85%;
  top: 17rem;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(10px 10px 10px rgba(20, 184, 166, 0.5));
}

.hero-img::after {
  content: "";
  background-image: url(/assets/laptop.png);
  position: absolute;
  width: 5rem;
  height: 4rem;
  left: 50%;
  z-index: -2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(10px 10px 10px rgba(20, 184, 166, 0.5));
  opacity: 0.8;
}

.hero-img .extra {
  content: "";
  background-image: url(/assets/graph.png);
  position: absolute;
  width: 10rem;
  height: 14rem;
  left: 40%;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-img {
  place-self: center;
  width: 10rem;
  height: 14rem;
  background-image: url(/assets/foto.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  place-self: center;
}
.hero-title {
  font-size: 120px;
  font-weight: 700;
}

/* SECTION----------------------------- */
section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: var(--padding-section);
  width: var(--width-section);
  margin: var(--margin-section);
}
section h2 {
  font-size: 50px;
  margin-bottom: 1rem;
}
/* PROYECTS -------------------------- */
.proyectos-all-container {
  width: var(--width-section);
  margin: var(--margin-section);
  padding: var(--padding-section);
}
.project-space {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
}
.project-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  gap: 1rem;
}
.project-slider {
  position: relative;
  width: 100%;
  height: 30rem;
  overflow: hidden;
}
/* .item {
  position: absolute;
  width: 200px;
  height: 320px;
  text-align: justify;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  left: calc(35%);
  background-color: white;
  color: #060522;
  top: 0;
} */
#next,
#prev:hover {
  cursor: pointer;
}
#next,
#prev {
  position: absolute;
  top: 40%;
  color: white;
  background-color: transparent;
  border: none;
  /* border: 2px solid var(--neon-blue); */
  font-size: 40px;
  font-family: var(--body-font);
  font-weight: bold;
  left: 50px;
}

#next {
  left: unset;
  right: 50px;
}

.proyectos-info {
  margin-bottom: 2rem;
}

.project-card:hover {
  cursor: pointer;
}

.project-card {
  width: 240px;
  height: 350px;
  border-radius: var(--border-radius);
  transition: 0.5s;
  background-color: var(--midnight-blue);
  padding: 0.5rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
}

.project-slider .project-card {
  position: absolute;
  width: 240px;
  height: 350px;
  border-radius: var(--border-radius);
  transition: 0.5s;
  left: calc(22%);
  top: 3rem;

  background-color: var(--midnight-blue);
  padding: 0.5rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
}
.project-space .project-img {
  width: 35rem;
}
.project-img {
  border-radius: var(--border-radius);
}

.project-info {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.project-desc {
  font-size: 12px;
  line-height: 1.3;
  width: 90%;
  height: 4rem;
  overflow: hidden;
  white-space: nowrap;
  text-wrap: wrap;
  padding: 0;
}
.project-tec {
  margin: 0.5rem 0;
  display: flex;
  gap: 0.5rem;
  overflow-x: hidden;
}
.project-info {
}
/* HABIlIDADES ------------- */
.hab-bg {
  position: relative;
}
.hab-bg:before {
  position: absolute;
  content: "";
  background-image: url(assets/square-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
}
.tecnologias-side {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.frontend-container {
  display: flex;
  font-size: 12px;
  gap: 0.5rem;
  padding: 0.5rem;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 0.5rem;
}

.back-title {
  font-size: 25px;
  font-weight: 900;
}
.front-title {
  font-size: 25px;
  font-weight: 900;
}

/* SOBRE MI ------------------- */
.banner {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.banner .roll {
  scale: 30%;
  position: absolute;
  width: 190px;
  height: 50px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
  z-index: 1;
}
.banner .roll .picture {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(550px);
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-15deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-15deg) rotateY(360deg);
  }
}
.banner .roll .picture img {
  width: 10rem;
  object-fit: cover;
}

.banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: -1;
}

.banner .content h2 {
  font-size: 40px;
  line-height: 1em;
  color: white;
  position: relative;
}
.banner .content h2::after {
  position: absolute;
  inset: 0 0 0 0;
  content: attr(data-content);
  z-index: 2;
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}
.banner .content .autor {
  text-align: right;
  max-width: 200px;
}
.banner .model {
  /* position: absolute;
  background-image: url(/assets/foto.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 1rem; */
  width: 15rem;
  margin-top: 4rem;
}

/* TECNOLOGIAS--------------- */

.tecnologia {
  font-size: 12px;
  font-weight: bold;
}
.react {
  background: linear-gradient(90deg, #a8e8ff, #7ecbff, #4fa6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.html {
  background: linear-gradient(90deg, #e44d26, #f16529);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.javascript {
  background: linear-gradient(to right, #f0db4f, #f2c94c, #f7b731, #f0db4f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.firebase {
  background: linear-gradient(to right, #ffa000, #f57c00, #f58535, #ffca28);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tailwind {
  background: linear-gradient(
    to right,
    #06b6d4,
    #3b82f6,
    #a855f7,
    #ec4899,
    #f43f5e
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* LOGOS ------------------ */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.mac {
  width: 100%;
}
.logo-slider-container {
  position: relative;
}
.screen-lights {
  position: relative;
  z-index: 2;
}
.screen-lights::before {
  background-color: red;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 110%;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    var(--neon-blue)
  );
  z-index: 2;
  opacity: 0.5;
}
.screen-lights::after {
  background-color: red;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 110%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    var(--neon-blue)
  );
  z-index: 2;
  opacity: 0.5;
}

.logos {
  position: absolute;
  top: 3rem;
  left: 25%;
  overflow: hidden;
  white-space: nowrap;
  width: 13rem;
  height: 10rem;
  z-index: -1;
  background-color: var(--midnight-blue);
}
.logo-slider {
  display: inline-block;
  padding: 1rem;
  align-items: center;
  animation: 10s slide infinite linear;
}

.logo-slider img {
  width: 5rem;
  margin: 1rem;
  filter: drop-shadow(0 0 5px #14b8a6);
}
/* SOCIALS -------- */
.socials-container {
  display: flex;
  flex-direction: var(--flex);
  gap: var(--gap);
  padding: var(--padding);
}
.socials-container a {
  /* padding: 0.5rem; */
}

/* CONTACTO -------------- */

.contacto-bg {
  padding: 1rem 0;
  position: relative;
}
.contacto-bg::before {
  position: absolute;
  content: "";
  background-image: url(assets/dot-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}

.card-form {
  background: linear-gradient(290deg, #001f3f, #060522);
  padding: 2rem;
  border-radius: var(--border-radius);
  /* box-shadow: 10px 10px 30px 5px rgba(84, 238, 189, 0.5); */
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact-form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
/* FOOTER -------------- */
footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: linear-gradient(
    90deg,
    var(--main-dark-blue),
    var(--midnight-blue)
  );
  font-size: 14px;
  align-items: center;
  padding: 2rem 0;
}

.footer h6 {
  font-size: 30px;
  margin-bottom: 1rem;
}
.footer-navlist {
  display: flex;
  margin: 0 auto;
  width: fit-content;
}
/* SIDEBAR ---------- */
.sidebar {
  position: fixed;
  top: 30%;
  opacity: 0; /* Comienza con opacidad 0 */
  transition: opacity 0.2s ease-in-out; /* Transición suave de opacidad */

}
.visible {
  opacity: 1;
}