@tailwind base;
@tailwind components;
@tailwind utilities;

/* color base #F5F5F5*/
/* color azul #37B5FF*/
/* color lavanda  #B65BFE */
/* color negro #222222 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: rgb(229, 231, 235);
  /* background: linear-gradient(to top, #001f3f, #001a35, #001226, #000c1c); */
}
@media (min-width: 210px) {
  /* GENERAL---------------------------- */
  .container {
    display: grid;
    grid-template-rows: 1;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 1rem;
  }
  .section-title {
    font-size: 40px;
    margin-bottom: 0.5rem;
  }
  /* HEADERR-------------------- */
  .navbar-container {
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #f3f4f6;
    font-size: 10px;
  }
  .nav-logo {
    font-size: 10px;
  }
  .navbar-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-list {
    /* `flex ${flex} ${gap ? `gap-${gap}` : "gap-0"} `}
      style={{ width: "auto" } */
    display: flex;
    gap: 0;
    width: auto;
    height: auto;
    margin-right: 1rem;
  }
  .nav-link {
    /* flex nav-link items-center transition-colors hover:bg-black hover:text-white */
    place-items: center;
    padding: 0.7rem 0.3rem;
  }
  .header-container {
    padding-top: 4rem;
    display: grid;
    margin-bottom: 2rem;
  }
  .hero-title {
    font-size: 50px;
  }
  .hero-img {
    height: 10rem;
    width: 10rem;
    background-image: url("/public/assets/foto.png"),
      url("/public/assets/graph-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    inset: 0;
    place-self: center;
  }

  .parrafo {
    font-size: 12px;
    line-height: 25 /*  */ px;
  }

  .info-box {
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
    width: 85%;
    flex-direction: column;
    gap: 0.5rem;
    font-size: medium;
  }
  /* MACINTOSH-------------------------- */
  .logo-slide-main {
    position: relative;
    scale: 90%;
  }
  .logo-slide-container {
    /* absolute top-6 item flex items-center right-[5.2rem] md:right-[4.9rem] md:top-6" */
    position: absolute;
    display: flex; /* try dis block */
    margin-top: 1rem;
    place-self: center;
    right: 3rem;
    top: -0.3rem;
    scale: 75%;
    z-index: -1;
  }
  .logos-container {
    position: relative;
    overflow: hidden;
    height: 10rem;
    width: 14rem;
    z-index: -1;
    background-color: #75be95;
  }
  /* CONTACTO---------------------------- */
  .card-form {
    /* p-4 max-w-[100%]  items-center mx-2 shadow-xl */
    padding: 1rem;
    width: 95%;
    margin: auto;
  }
  .contact-form {
    width: 100%;
  }
  /* FOOTER---------------------------- */
  .footer-navlist {
    font-size: 14px;
  }
}
/* xs */
@media (min-width: 475px) {
  /* GENERAL---------------------------- */
  .container {
    display: grid;
    grid-template-rows: 1;
    max-width: 475px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 1rem;
  }
  .section-title {
    font-size: 50px;
    margin-bottom: 0.5rem;
  }
  /* HEADERR-------------------- */
  .navbar-container {
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #f3f4f6;
    font-size: 12px;
  }
  .nav-logo {
    font-size: 10px;
  }
  .navbar-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-list {
    /* `flex ${flex} ${gap ? `gap-${gap}` : "gap-0"} `}
      style={{ width: "auto" } */
    display: flex;
    gap: 0;
    width: auto;
    height: auto;
  }
  .nav-link {
    /* flex nav-link items-center transition-colors hover:bg-black hover:text-white */
    place-items: center;
    padding: 1rem 1rem;
  }
  .header-container {
    padding-top: 4rem;
    display: grid;
    margin-bottom: 2rem;
  }
  .hero-title {
    font-size: 79px;
  }
  .hero-img {
    height: 18rem;
    width: 18rem;
    background-image: url("/public/assets/foto.png"),
      url("/public/assets/graph-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    inset: 0;
    place-self: center;
  }

  .parrafo {
    font-size: 20px;
    line-height: 25 /*  */ px;
  }

  .info-box {
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
    width: 85%;
    flex-direction: column;
    gap: 0.5rem;
    font-size: medium;
  }
  /* MACINTOSH-------------------------- */
  .logo-slide-main {
    position: relative;
    scale: 90%;
  }
  .mac {
    margin: 0 auto;
  }
  .logo-slide-container {
    /* absolute top-6 item flex items-center right-[5.2rem] md:right-[4.9rem] md:top-6" */
    position: absolute;
    display: flex; /* try dis block */
    margin-top: 1rem;
    place-self: center;
    right: 7rem;
    top: 2rem;
  }
  .logos-container {
    position: relative;
    overflow: hidden;
    height: 10rem;
    width: 14rem;
    z-index: -1;
    background-color: #75be95;
  }
  /* CONTACTO---------------------------- */
  .card-form {
    /* p-4 max-w-[100%]  items-center mx-2 shadow-xl */
    padding: 1rem;
    width: 80%;
    margin: auto;
  }
  .contact-form {
    width: 100%;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    display: grid;
    grid-template-rows: 1;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 1rem;
  }
  .section-title {
    font-size: 60px;
    margin-bottom: 0.5rem;
  }
  /* HEADERR-------------------- */
  .navbar-container {
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #f3f4f6;
    font-size: 12px;
    place-content: center;
  }
  .navbar-div {
    display: flex;
    justify-content: space-between;
  }
  .nav-list {
    /* `flex ${flex} ${gap ? `gap-${gap}` : "gap-0"} `}
      style={{ width: "auto" } */
    display: flex;
  }
  .nav-link {
    /* flex nav-link items-center transition-colors hover:bg-black hover:text-white */
    place-items: center;
    padding: 1rem 2rem;
  }

  .nav-logo {
    font-size: 11px;
  }
  .nav-logo:hover {
    cursor: pointer;
  }
  .header-container {
    padding-top: 4rem;
    display: grid;
    margin-bottom: 2rem;
  }
  .hero-title {
    font-size: 100px;
  }
  .hero-img {
    height: 19rem;
    width: 19rem;
    background-image: url("/public/assets/foto.png"),
      url("/public/assets/graph-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    inset: 0;
    place-self: center;
  }

  .info-box {
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
    width: 85%;
    flex-direction: column;
    gap: 0.5rem;
  }
  .parrafo {
    font-size: 22px;
    line-height: 25 /*  */ px;
  }
  /* MACINTOSH-------------------------- */
  .mac {
    margin: 0 auto;
  }
  .logo-slide-main {
    position: relative;
    place-self: center;
    scale: 80%;
  }
  .logo-slide-container {
    position: absolute;
    display: flex; /* try dis block */
    margin-top: 1rem;
    place-self: center;
    right: 12rem;
    top: 3rem;
    scale: 120%;
    z-index: -1;
  }
  /* CONTACTO---------------------------- */
  .card-form {
    /* p-4 max-w-[100%]  items-center mx-2 shadow-xl */
    padding: 1rem;
    width: 80%;
    margin: auto;
  }
  .contact-form {
    width: 100%;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-rows: 1;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 1rem;
  }
  .section-title {
    font-size: 60px;
    margin-bottom: 0.5rem;
  }
  /* HEADERR-------------------- */
  .navbar-container {
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #f3f4f6;
    font-size: 18px;
    place-content: center;
  }
  .navbar-div {
    display: flex;
    justify-content: space-between;
  }
  .nav-logo {
    font-size: 17px;
  }
  .nav-logo:hover {
    cursor: pointer;
  }
  .header-container {
    padding-top: 4rem;
    display: grid;
    margin-bottom: 2rem;
  }
  .hero-title {
    font-size: 110px;
  }
  .hero-img {
    height: 22rem;
    width: 22rem;
    background-image: url("/public/assets/foto.png"),
      url("/public/assets/graph-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    inset: 0;
    place-self: center;
  }

  .info-box {
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
    width: 85%;
    flex-direction: column;
    gap: 0.5rem;
  }
  .parrafo {
    font-size: 23px;
    line-height: 25 /*  */ px;
  }
  /* MACINTOSH-------------------------- */
  .mac {
    margin: 0 auto;
  }
  .logo-slide-main {
    position: relative;
    place-self: center;
    scale: 80%;
  }
  .logo-slide-container {
    position: absolute;
    display: flex; /* try dis block */
    margin-top: 1rem;
    place-self: center;
    right: 17rem;
    top: 3rem;
    scale: 120%;
    z-index: -1;
  }
  /* GALLERY-------------------- */
  /* .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 98%;
    height: auto;
    padding: .2rem;
    margin: .3rem;
    gap: 1rem;
  } */
}

/* lg */
@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-rows: 2;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 1rem;
  }
  .section-title {
    font-size: 60px;
    margin-bottom: 0.5rem;
  }
  /* HEADERR-------------------- */
  .navbar-container {
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #f3f4f6;
    font-size: 18px;
    place-content: center;
  }
  .navbar-div {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 85%;
  }
  .nav-logo {
    font-size: 17px;
  }
  .nav-logo:hover {
    cursor: pointer;
  }
  .header-container {
    padding-top: 6rem;
    display: grid;
    margin-bottom: 2rem;
  }
  .hero-title {
    font-size: 120px;
  }
  .hero-img {
    height: 24rem;
    width: 24rem;
    background-image: url("/public/assets/foto.png"),
      url("/public/assets/graph-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    inset: 0;
    place-self: center;
  }

  .info-box {
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
    width: 85%;
    flex-direction: column;
    gap: 0.5rem;
  }
  .parrafo {
    width: 90%;
    font-size: 24px;
    line-height: 25 /*  */ px;
  }
  /* MACINTOSH-------------------------- */
  .mac {
    margin: 0 auto;
  }
  .logo-slide-main {
    position: relative;
    place-self: center;
    scale: 80%;
  }
  .logo-slide-container {
    position: absolute;
    display: flex; /* try dis block */
    margin-top: 1rem;
    place-self: center;
    right: 25rem;
    top: 3rem;
    scale: 120%;
    z-index: -1;
  }
  /* GALLERY-------------------- */
  /* .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 98%;
    height: auto;
    padding: .2rem;
    margin: .3rem;
    gap: 1rem;
  } */
  .imagen-gallery {
    height: 130px;
    width: 130px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 1rem;
  }

  .section-title {
    font-size: 70px;
    margin-bottom: 0.5rem;
  }
  .last {
    order: 2;
  }
  /* HEADERR-------------------- */
  .navbar-container {
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #f3f4f6;
    font-size: 21px;
    place-content: center;
  }
  .navbar-div {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1280px;
  }
  .nav-logo {
    font-size: 19px;
  }
  .nav-logo:hover {
    cursor: pointer;
  }
  .header-container {
    padding-top: 6rem;
    display: grid;
    margin-bottom: 2rem;
  }
  .hero-title {
    font-size: 100px;
  }
  .hero-img {
    height: 23rem;
    width: 23rem;
    background-image: url("/public/assets/foto.png"),
      url("/public/assets/graph-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    inset: 0;
    place-self: center;
  }

  .info-box {
    display: flex;
    justify-self: baseline;
    align-items: baseline;
    text-align: left;
    width: 85%;
    flex-direction: column;
    gap: .5rem;
    padding-left: 4rem;
  }
  .parrafo {
    width: 90%;
    font-size: 23px;
    line-height: 25 /*  */ px;
  }
  /* MACINTOSH-------------------------- */
  .mac {
    margin: 0 auto;
  }
  .logo-slide-main {
    position: relative;
    place-self: center;
    scale: 80%;
  }
  .logo-slide-container {
    position: absolute;
    display: flex; /* try dis block */
    margin-top: 1rem;
    place-self: center;
    right: 12rem;
    top: 3rem;
    scale: 120%;
    z-index: -1;
  }
  /* GALLERY-------------------- */
  /* .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 98%;
    height: auto;
    padding: .2rem;
    margin: .3rem;
    gap: 1rem;
  } */
  .imagen-gallery {
    height: 130px;
    width: 130px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 1rem;
    align-items: center;
  }

  .section-title {
    font-size: 90px;
    margin-bottom: 0.5rem;
  }
  .last {
    order: 2;
  }
  /* HEADERR-------------------- */
  .navbar-container {
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #f3f4f6;
    font-size: 23px;
    place-content: center;
  }
  .navbar-div {
    align-items: center;
    justify-content: space-between;
  }
  .nav-list {
    /* `flex ${flex} ${gap ? `gap-${gap}` : "gap-0"} `}
      style={{ width: "auto" } */
    display: flex;
    gap: 0;
    width: auto;
    height: auto;
  }

  .nav-logo {
    font-size: 22px;
  }
  .nav-logo:hover {
    cursor: pointer;
  }
  .header-container {
    padding-top: 6rem;
    display: grid;
    margin-bottom: 2rem;
  }
  .hero-title {
    font-size: 120px;
  }
  .hero-img {
    height: 26rem;
    width: 26rem;
    background-image: url("/public/assets/foto.png"),
      url("/public/assets/graph-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    inset: 0;
    place-self: center;
  }

  .info-box {
    display: flex;
    justify-self: baseline;
    align-items: baseline;
    text-align: left;
    width: 85%;
    flex-direction: column;
    gap: 2rem;
    padding-left: 4rem;
  }
  .parrafo {
    width: 90%;
    font-size: 25px;
    line-height: 25 /*  */ px;
  }
  /* MACINTOSH-------------------------- */
  .mac {
    margin: 0 auto;
  }
  .logo-slide-main {
    position: relative;
    place-self: center;
    scale: 80%;
  }
  .logo-slide-container {
    position: absolute;
    display: flex; /* try dis block */
    margin-top: 1rem;
    place-self: center;
    right: 13rem;
    top: 3rem;
    scale: 120%;
    z-index: -1;
  }
  /* GALLERY-------------------- */
  /* .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 98%;
    height: auto;
    padding: .2rem;
    margin: .3rem;
    gap: 1rem;
  } */
  .imagen-gallery {
    height: 130px;
    width: 130px;
  }
}

.span-code {
  color: #37b5ff;
}
.divPad {
  padding: 2rem;
}

.text-gradient {
  background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-fill-color: transparent;
}

shadowBlue {
  box-shadow: 0 40px 80px rgba(18, 194, 233, 0.1);
}

.imagen-gallery {
  filter: drop-shadow(0px 0px 5px rgba(18, 194, 233, 0.8));
  height: auto;
  max-width: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center center;
  transition: transform 0.3s ease-in-out;
}
.imagen-gallery:hover {
  transform: scale(1.01);
}
.dot {
  color: #37b5ff;
}
.HTML {
  color: #e08132;
}
.CSS {
  color: #38bdf8;
}
.Tailwind {
  display: inline-block;
  background: linear-gradient(to left, #a5f3fc, #2dd4bf, #22d3ee);
  color: transparent;
  background-clip: text;
}

.JavaScript {
  color: #dcc810;
}
.MySQL {
  color: #ee6e05;
}
.Node {
  color: #a3e635;
}
.React {
  color: #67e8f9;
}

.boton-light:hover {
  filter: drop-shadow(0px 0px 40px rgba(18, 194, 233, 0.8));

  transition: transform 0.1s ease-in-out;
  transform: scale(1.02);
}

.light-md-blue {
  position: absolute;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  background-color: #37b5ff; /* Color verde-azul */
  filter: blur(100px); /* Desenfoque */
  z-index: -1; /* Ajusta el valor según sea necesario */
}
.light-md-lavanda {
  position: absolute;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  background-color: #b65bfe; /* Color verde-azul */
  filter: blur(100px); /* Desenfoque */
  z-index: -10; /* Ajusta el valor según sea necesario */
  overflow-y: hidden;
}

.light-xl-green {
  position: absolute;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-color: #2dd4bf; /* Color verde-azul */
  filter: blur(500px); /* Desenfoque */
  z-index: -10; /* Ajusta el valor según sea necesario */
}

.imagen-bg-shape {
  background-image: url("./assets/triangle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.bg-header {
  position: relative; /* Asegura que los elementos internos respeten la posición del ::before */
  overflow: hidden; /* Evita que el contenido se desborde */
}

.bg-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/cuadricula.jpg");
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
  filter: blur(6px); /* Aplica un desenfoque a la imagen de fondo */
}

.bg-gradient {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh; /* Puedes ajustar la altura según sea necesario */
  background-image: linear-gradient(
      to bottom,
      rgba(56, 163, 165, 0.2),
      rgba(87, 204, 153, 0.2)
    ),
    url("tu-imagen.jpg");
  background-size: cover;
  background-position: center;
}
.bg-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(56, 163, 165, 0.2),
    rgba(87, 204, 153, 0.2)
  );
  backdrop-filter: blur(
    20px
  ); /* Ajusta el valor de desenfoque según lo desees */
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/* .logos-container {
  position: relative;
  overflow: hidden;
  height: 10rem;
  width: 14rem;
  z-index: -1;
  background-color: #2f2f2f;
} */

.logos-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 120px; /* Ancho de los gradientes */
  background-image: linear-gradient(
    to left,
    rgba(103, 232, 249, 0),
    /* Transparente */ #67e8f9 /* Color #67E8F9 */
  );
  background-repeat: no-repeat;
  z-index: 1;
}
.logos-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 120px; /* Ancho de los gradientes */
  background-image: linear-gradient(
    to right,
    rgba(103, 232, 249, 0),
    /* Transparente */ #67e8f9 /* Color #67E8F9 */
  );
  background-repeat: no-repeat;
  z-index: 1;
}
.logos-container::before {
  left: 0; /* Colocar el gradiente en el lado izquierdo */
}
.logos-container::after {
  right: 0; /* Colocar el gradiente en el lado derecho */
}
.logos {
  display: flex;
  width: 400rem;
  padding: 40px 0;
  overflow: hidden;
  position: relative;
}
.logo-slide {
  display: flex;
  animation: 8s slide infinite linear;
  position: relative;
}
.logo-slide img {
  height: 80px;
  margin: 0 10px;
}
.input-style {
  border-radius: 5px;
  border: 2px solid gray;
  background: transparent;
  padding: 0.4rem;
}
.textarea-style {
  border-radius: 5px;
  border: 2px solid gray;
  background: transparent;
  padding: 0.4rem;
}
.social-icon {
  height: 30px;
}
.social-invert {
  filter: invert(100%);
}

.mac-shadow {
  filter: drop-shadow(0 10px 20px rgba(18, 194, 233, 0.5));
}
.box {
  transition: transform 0.2s ease, filter 0.3s ease;
}
.box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgba(18, 194, 233, 0.2);
  cursor: pointer;
}
.section-bg > :nth-child(even) {
  background-color: #f7f7ff;
  box-shadow: 0 0 10px 1px rgba(34, 34, 34, 0.2);
}

/* .text-size {
  font-size: medium;
} */

/* .graph-styled {
  position: absolute;
  z-index: -3;
  left: 10rem;
} */
.nav-link:hover {
  /* flex nav-link items-center transition-colors hover:bg-black hover:text-white */
  background-color: black;
  color: white;
}
