:root {
  --background-color: rgb(229, 231, 235);
  --text-color: black;
  --body-font: "Roboto Mono", monospace;
  --title-font: "Roboto", sans-serif;
  --main-dark-blue: #060522; /* Fondo principal */
  --neon-blue: rgb(20, 184, 166); /* Color de enlaces */
  --boton-bg: #064e3b; /* Color de encabezados */
  --dark-turquoise: #007373; /* Pie de página */
  --midnight-blue: #001f3f; /* Otro tono de azul */
  --electric-blue: #1e90ff; /* Botones y elementos interactivos */
  --teal-green: #00b3b3; /* Color hover de botones */
  --text-white: #ffffff; /* Texto blanco */
  --p-color: #cacaca;
  --padding-section: 1rem;
  --margin-section: 0 auto;
  --width-section: 60%;
}
/* GENERAL ------------------- */
* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ELEMENTS --------------- */
body {
  background-color: var(--main-dark-blue);
  color: var(--text-white);
  font-family: var(--body-font);
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--title-font);
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  color: var(--p-color);
}
.dot {
  color: var(--neon-blue);
}
.button:hover {
  background-color: var(--neon-blue);
  cursor: pointer;
}
.button {
  display: flex;
  align-items: center;
  gap: 0.5rems;
  padding: 0.5rem;
  width: fit-content;
  color: var(--text-white);
  border: none;
  border-radius: 10%;
  font-weight: 600;
  background-color: var(--midnight-blue);
  text-transform: uppercase;
}
.side-border {
  border-left: 4px solid var(--neon-blue);
}
.icon {
  height: 15px;
}
/* NAVBAR------------------------ */

.navbar-container {
  display: flex;
  padding: 1rem;
  gap: 1.5rem;
}
.navlist-container {
  display: flex;
  gap: 1.5rem;
}

/* HEADER ---------------- */
.header-container {
  display: grid;
  height: 60vh;
  grid-template-columns: repeat(2, 1fr);
  padding: var(--padding-section);
  width: var(--width-section);
  margin: var(--margin-section);
}

.hero-img::before {
  content: "";
  background-image: url(/assets/laptop-2.png);
  position: absolute;
  width: 5rem;
  height: 4rem;
  left: 70%;
  top: 17rem;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(10px 10px 10px rgba(20, 184, 166, 0.5));
}

.hero-img::after {
  content: "";
  background-image: url(/assets/laptop.png);
  position: absolute;
  width: 5rem;
  height: 4rem;
  left: 50%;
  z-index: -2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(10px 10px 10px rgba(20, 184, 166, 0.5));
  opacity: .8;
}

.hero-img .extra {
  content: "";
  background-image: url(/assets/graph.png);
  position: absolute;
  width: 10rem;
  height: 14rem;
  left: 45%;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-img {
  place-self: center;
  width: 10rem;
  height: 14rem;
  background-image: url(/assets/foto.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  place-self: center;
}
.hero-title {
  font-size: 120px;
  font-weight: 700;
}
p {
  padding: 0.5rem;
}
