@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: #1e293b;
}

.divPad {
  padding: 2rem;
}

.diagonal {
  position: relative;
}

.diagonal::after {
  content: "";
  background-image: linear-gradient(45deg, #3a6eb4, #1db8fd, #45fcbc);
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(-5deg);
  top: -150px;
  height: 40rem;
  width: 200%;
  backdrop-filter: blur(50px);
}
.text-gradient {
  background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-fill-color: transparent;
}

.parrafo {
  width: 60%;
  text-align: left;
}

shadowBlue {
  box-shadow: 0 40px 80px rgba(18, 194, 233, 0.1);
}

.imagen {
  filter: drop-shadow(0px 0px 40px rgba(18, 194, 233, 0.8));

  transition: transform 0.3s ease-in-out;
}

.imagen:hover {
  transform: scale(0.55);
}

.dot {
  color: #f64f59;
}

.sobremi {
  position: relative;
}

.sobremi::after {
  content: "";
  background-image: linear-gradient(45deg, #134ea9, #19a8a9, #00d4ff);
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(-5deg);
  bottom: -50px;
  left: -300px;
  height: 30rem;
  width: 200%;
  backdrop-filter: blur(50px);
}
.habilidades {
  position: relative;
}

.habilidades::after {
  content: "";
  background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(-5deg);
  bottom: -50px;
  left: -300px;
  height: 30rem;
  width: 200%;
  backdrop-filter: blur(50px);
}

.proyectos {
  position: relative;
}

.proyectos::after {
  content: "";
  background-image: linear-gradient(45deg, #b43a4b, #fdba1d, #fc45ae);
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(-5deg);
  bottom: -50px;
  left: -300px;
  height: 30rem;
  width: 200%;
  backdrop-filter: blur(50px);
}
.contacto {
  position: relative;
}

.contacto::after {
  content: "";
  background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(0deg);
  bottom: -10px;
  left: -300px;
  height: 40rem;
  width: 200%;
  backdrop-filter: blur(50px);
}

.HTML {
  color: #fb923c;
}
.CSS {
  color: #38bdf8;
}
.Tailwind {
  display: inline-block;
  background: linear-gradient(to left, #a5f3fc, #2dd4bf, #22d3ee);
  color: transparent;
  background-clip: text;
}

.JavaScript {
  color: #fde047;
}
.MySQL {
  color: #facc15;
}
.Node {
  color: #a3e635;
}
.React {
  color: #67e8f9;
}

.nav-top {
  z-index: 90;
}

.boton-light:hover {
  filter: drop-shadow(0px 0px 40px rgba(18, 194, 233, 0.8));

  transition: transform 0.1s ease-in-out;
  transform: scale(1.02);
}
